/**
 * SB_Underline SCSS document.
 * Last Modified: April 28, 2019
 */

/* ============================================================= */

.sb-underline {

    /* For texts */
    &-text {
        color: #111111;
        opacity: 0.5;
        transition: all 500ms;

        /* For links */
        &:link {
            text-decoration: none;
        }

        &:visited {
            color: #111111;
        }

        &:hover {
            opacity: 1;
        }

        &:active {}
    }

    /* For underlines */
    &-line {
        border: 0.5px solid #111111;
        border-radius: 5px;
        width: 10px;
        opacity: 0.5;
        transition: all 500ms;
    }

    &-text:hover &-line {
        width: 100%;
        opacity: 1;
    }
}