/**
 * SB_Underline CSS document.
 * Last Modified: April 27, 2019
 */

/* ============================================================= */

/* For texts */
.sb-underline-text {
    color: #111111;
    opacity: 0.5;
    transition: all 500ms;
}

/* For links */
.sb-underline-text:link {
    text-decoration: none;
}
.sb-underline-text:visited {
    color: #111111;
}
.sb-underline-text:hover {
    opacity: 1;
}
.sb-underline-text:hover .sb-underline-line {
    width: 100%;
    opacity: 1;
}
.sb-underline-text:active {}

/* For underlines */
.sb-underline-line {
    border: 0.5px solid #111111;
    border-radius: 5px;
    width: 10px;
    opacity: 0.5;
    transition: all 500ms;
}